header {
  width: 100%;
}
header nav {
  margin: 0 auto;
  width: 80%;
  background-color: white;
  padding: 20px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
header img {
  width: 200px;
  height: 60px;
}
header ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 10px;
}
header a {
  color: black;
  text-decoration: none;
  position: relative;
  bottom: 10px;
}
header a:hover {
  font-size: 17px;
  color: white;
  text-decoration: none;
}
header li {
  height: 15px;
  padding: 15px 15px;
  margin: 0 5px;
  font-size: 17px;
  border-radius: 25px;
  position: relative;
  top: 15px;
}
header li:hover {
  background-color: #9457eb;
}

.li__active {
  background-color: #9457eb;
}
.li__active a {
  color: white;
}

main {
  background-image: url(backgroundimages/background4.jpg);
  height: 450px;
  text-align: center;
  color: white;
}
main h2 {
  padding-top: 170px;
  padding-bottom: 20px;
}
main h1 {
  font-size: 43px;
  padding-bottom: 20px;
}
main p {
  padding-bottom: 20px;
}
main p span {
  opacity: 0.6;
}
main button {
  border: none;
  border-radius: 50px;
  padding: 13px 20px;
  color: white;
  font-size: 17px;
  transition-duration: 0.4s;
  background-color: #9457eb;
}
main button:hover {
  background-color: #9457eb;
  color: white;
}

.main__btn1 {
  border: 2px solid #ba55d3;
  border-radius: 50px;
  padding: 10px 15px;
  color: white;
  font-size: 17px;
  background: none;
  transition-duration: 0.4s;
  margin-right: 10px;
}
.main__btn1--btn1:hover {
  background-color: #9457eb;
  color: white;
  cursor: pointer;
}

.main__btn2 {
  border: none;
  border-radius: 50px;
  padding: 10px 15px;
  color: white;
  font-size: 17px;
  transition-duration: 0.4s;
  background-color: #9457eb;
}
.main__btn2:hover {
  background-color: white;
  color: #9457eb;
}

section {
  background-image: url(backgroundimages/background3.jpg);
}

.section {
  width: 80%;
  margin: 0 auto;
}
.section__title {
  padding-top: 100px;
  text-align: center;
  color: white;
  padding-bottom: 100px;
}
.section__title hr {
  width: 10%;
  border: 2px solid #9457eb;
  position: relative;
  left: 550px;
}
.section__title h1 {
  padding-top: 20px;
  font-size: 29px;
}
.section__title h1 span {
  color: #9457eb;
}

form {
  width: 80%;
  margin: 0 auto;
  background-color: #484848;
  border-radius: 25px;
  padding: 20px;
  padding-bottom: 60px;
}

.form__input {
  display: flex;
  justify-content: space-around;
}
.form__input--p {
  color: white;
  position: relative;
  padding-top: 35px;
  left: 50px;
}
.form__input3 {
  justify-content: space-between;
  padding: 0 20px;
}
.form__input3 input {
  padding-top: 20px;
  color: white;
  font-size: 17px;
}
.form__input button {
  width: 550px;
  border: none;
  border-radius: 50px;
  padding: 13px 20px;
  color: white;
  font-size: 17px;
  transition-duration: 0.4s;
  background-color: #9457eb;
}
.form__input button:hover {
  background-color: white;
  color: #9457eb;
}
.form__input2 {
  display: flex;
  padding-top: 30px;
}
.form__input2 p {
  color: white;
}
.form__input2 input {
  margin-top: 15px;
  width: 550px;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #404040;
  border: none;
  font-size: 17px;
  color: white;
}
.form__input--style p {
  color: white;
}
.form__input--style input {
  margin-top: 15px;
  width: 350px;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #404040;
  border: none;
  font-size: 17px;
  color: white;
}

.main2 {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
}
.main2__title {
  text-align: center;
  padding-bottom: 80px;
}
.main2__title hr {
  width: 10%;
  border: 2px solid #9457eb;
  position: relative;
  left: 550px;
}
.main2__title h1 {
  padding-top: 25px;
  color: white;
  font-size: 27px;
}
.main2__title span {
  color: #9457eb;
}

.main__content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  color: white;
  padding-bottom: 100px;
}
.main__content--titlestyle {
  padding-left: 15px;
}
.main__content--titlestyle h2 {
  padding-bottom: 5px;
}
.main__content--titlestyle p {
  color: #9457eb;
}
.main__content--flex2 {
  padding-top: 25px;
  display: flex;
}
.main__content--flex2 p {
  color: #707070;
  padding-right: 20px;
  padding-top: 15px;
}
.main__content--flex2--btn1 {
  padding: 13px 20px;
  border: 1px solid #9457eb;
  border-radius: 50px;
  background-color: #484848;
  margin-right: 20px;
  color: white;
  font-weight: bold;
}
.main__content--flex2--btn2 {
  border: none;
  border-radius: 50px;
  padding: 13px 20px;
  color: white;
  font-size: 17px;
  transition-duration: 0.4s;
  background-color: #9457eb;
}
.main__content--flex2--btn2:hover {
  background-color: white;
  color: #9457eb;
}
.main__content--flex {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.main__content--flex--1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}
.main__content--flex--1 p {
  padding-bottom: 10px;
}
.main__content--flex--1 h2 {
  color: #9457eb;
  padding-bottom: 10px;
}
.main__content--flex--1 h3 {
  color: #707070;
}
.main__content--img {
  width: 50%;
  border-radius: 25px;
}
.main__content--text {
  width: 60%;
  padding-left: 70px;
}
.main__content--text h2 {
  font-size: 20px;
}
.main__content--text--flex {
  display: flex;
}
.main__content--text--p {
  padding-top: 20px;
  padding-bottom: 10px;
}
.main__content---text {
  padding-top: 20px;
  display: flex;
}
.main__content---text--img {
  border-radius: 50%;
}

footer {
  background-color: #9457eb;
  text-align: center;
  height: 80px;
}
footer p {
  padding-top: 30px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}/*# sourceMappingURL=style.css.map */